.container {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}

button.accordian {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

button.accordian:hover, button.accordian.is-open {
  background-color: #ddd;
}

.accordian-content {
  padding: 0 20px;
  border: 1px solid whitesmoke;
  display: none;
}
